extends layout

block content

  h1 Hello There! Thank you for being so interested in contacting me!
  p(style='text-align:center; margin:0 3em; padding: 0; font-size: 1.5em;') You are probably here because you had issues on the other page (or because you just want to click on everything- which is legit) go ahead and contact me in whatever way works for you so that I can improve my portfolio!
  
  ul 
    li My cellphone number is 727-614-1770
    li My twiiter handle is @BreeJaxOfEarth
    li My LinkedIn is linkedin.com/in/breejax/
    li My Github is github.com/BreeJax
    li My email is breejax.codingstrong@gmail.com


  p I'm so excited to hear from you!
  p Be Well,
  p Bree Jackson
