extends layout

block content
  
  header
        h1#bj - Bree Jackson -
        h1#titles
          span.header
              nav
                p
                    a(href='#aboutSection') About
                p
                    a(href='#projects') Apps
                p
                    a(href='#skills') Skills
                p
                    a(href='#contact') Contact
  section#aboutSection
      h2 About Bree
      .aboutDivandImage
        .aboutDiv
          p.about 
            | Hello and welcome to my portfolio! My name is Bree Jackson, and I am a Junior Full Stack Developer. After spending years crafting, painting, and woodworking on my own time, all the while seeing the tool that coding was, I decided to give building via code a try. Oh how rewarding it has been!! I have spent 3 months in intensive training at The Iron Yard, and have learned a lot- but I need to learn more! Though I am spending my time in Node.js right now, I look forward to the opportunity to learn Ruby, React, and whatever else comes my way in the future.
          p.about 
            | When set with a task I work as hard as I can to find a solution. Unafraid to ask for help, I thrive in the ability to work in small teams where ideas can be bounced around and made real. As long as coffee is involved, I will always find the energy to keep on going.
          h3.about 
            | I look forward to meeting you!
          h3.about 
            | Want to have something to talk about over coffee? Here's my&nbsp; 
            a(href='BreeJaxResume.pdf', target='_blank') resume!

          
        img(src='images/pic-of-Bree.jpg', alt='Picture of Bree')
  section#quote
      //
        <p>Do you mind if I tell you a story? One you might not have heard. All the elements in your body were forged many many millions of years ago in the heart of a faraway star that exploded and died. That explosion scattered those elements across the desolations of deep space. After so, so many millions of years, these elements came together to form new stars and new planets. And on and on it went. The elements came together and burst apart, forming shoes and ships and sealing wax and cabbages and kings. Until, eventually, they came together to make you. You are unique in the universe. There is only one of you- and there will never be another. </p>
            <h6>Doctor Who- The Rings of Akhaten</h6>          
  section#projects.projects
    h2 Apps by Bree
    h3 ASLStrong
    .projectExamples
      a.projectExamples(href='https://github.com/BreeJax/ASLStrong', target='_blank')
        img(src='images/ILY.gif', alt='')
      .appInfo
        p My final project for The Iron Yard consist of saving a well loved website known as ASL Pro. This is a Video Dictionary, and my passion project.
        p The Back-End was created with Node.js, sequelize, npm, express, express-cors, lien, with a PostgreSQL Database.
        p See the GitHub code&nbsp; #[a(href='https://github.com/BreeJax/ASLStrong' target='_blank') Here]. Want to see the Docs? Click&nbsp;  #[a(href='https://aslstrongapi.herokuapp.com/apidoc/', target='_blank') Here]. See the live app&nbsp; #[a(href='https://aslstrongapi.herokuapp.com/', target='_blank') Here].   
     
  

    h3 Collection Manager- Harry Potter Style 
    .projectExamples
      a.projectExamples(href='https://github.com/BreeJax/collection_manager', target='_blank')
        img(src='images/HPapp.jpg', alt='A picture of the Collection Manager App')
      .appInfo
        p We had a little too much fun with this project. Many liberties were taken, but this app is a way to manage a collection- this app is driven twords managing Harry Potter Characters, but it can be changed for anything.
        p The Front-End was made with Mustache for the HTML, while the Back-End was created using Mongoose(mongoDB), express in Node.JS
        p See the GitHub code&nbsp; #[a(href='https://github.com/BreeJax/collection_manager', target='_blank') Here]. See the live app&nbsp; #[a(href='https://salty-sands-37619.herokuapp.com/', target='_blank') Here].     
     
    h3 Stat Tracker- the App that took Forever
    .projectExamples
      a.projectExamples(href='https://github.com/BreeJax/statTracker', target='_blank')
        img(src='images/stattracker.jpg', alt='photo of the stat tracker app ')
      .appInfo
        p The best thing about Irma was the fact that it forced me to step away from my code for an extended period of time. I understand better now- you are a very different person a week or even two weeks from the time you first write your code. Stat Tracker is aimed towards fitness tracking- seeing how much exercise you’re getting, and giving you different ideas of different things that you can do in order to stay healthy- things enjoyed by other users of the same app. However, your info otherwise is private.
        p The Front-End was created using Pug (once known as Jade), while the Back-End was created on PostgreSQL using sequelize, passport for authentication purposes, bcryptjs in order to keep the passwords secret, body-parser, all built on express. 
        p See the GitHub code&nbsp; #[a(href='https://github.com/BreeJax/statTracker', target='_blank') Here].
    h3 Vending Machine
    .projectExamples
      a.projectExamples(href='https://github.com/BreeJax/vendingMachineAPI', target='_blank')
        img(src='images/postman.png', alt='')
      .appInfo
        p A pure backend app that keeps track of the vending machine inventory and money paid to it by customers. The Vendor is able to edit inventory, while the customer is only able to buy and put in money.
        p No Front-End, however, the Back-End is built on Express, Sequelize, body-parser, and checked using the Postman devtool.
        p See the GitHub code&nbsp; #[a(href='https://github.com/BreeJax/vendingMachineAPI', target='_blank') Here].

        
  section#skills
    h2 Skills
    section#skillsIcons
      .iconDiv
        img.icons(src='images/css3.png', alt='CSS 3 logo')
        .skillsNamesDivs
          p.skillsNames CSS
      .iconDiv
        img.icons(src='images/html5.png', alt='HTML 5 logo')
        .skillsNamesDivs
          p.skillsNames HTML
      .iconDiv
        img.icons(src='images/javascript.png', alt='JavaScript logo')
        .skillsNamesDivs
          p.skillsNames JavaScript
      .iconDiv
        img.icons(src='images/node_js.png', alt='Node.js logo')
        .skillsNamesDivs
          p.skillsNames Node.js
      .iconDiv
        img.icons(src='images/mongodb.png', alt='Mongo Database logo')
        .skillsNamesDivs
          p.skillsNames MongoDB
      .iconDiv
        img.icons(src='images/pug.png', alt="Pug Logo")
        .skillsNamesDivs
            p.skillsNames Pug
      .iconDiv
        img.icons(src="images/expressjs.png", alt="expressjs logo")
        .skillsNamesDivs
          p.skillsNames ExpressJS
      .iconDiv
        img.icons(src="images/postgres.png", alt="postgres logo")
        .skillsNamesDivs
          p.skillsNames Postgres
      .iconDiv
        img.icons(src="images/chai.png", alt="Chai logo")
        .skillsNamesDivs
          p.skillsNames Chai
      .iconDiv
        img.icons(src="images/mocha.png", alt="mocha logo")
        .skillsNamesDivs
          p.skillsNames Mocha
      .iconDiv
        img.icons(src="images/gulp.png", alt="Gulp logo")
        .skillsNamesDivs
          p.skillsNames Gulp
      .iconDiv
        img.icons(src="images/scss.png", alt="Sass logo")
        .skillsNamesDivs
          p.skillsNames SCSS
      .iconDiv
        img.icons(src="images/react.png", alt="React logo")
        .skillsNamesDivs
          p.skillsNames React



          
  .navigation#contact
    h2#feelFree Feel Free to Contact me at:
    .information
      .lg
        p
          a(href='tel:1-727-614-1770')
            img.logos(src='images/phone.png', alt="Bree's phone number is 727-614-1770")
          p.away 727-614-1770
      .lg
        p
          a(href='https://github.com/BreeJax', target='_blank')
            img.logos(src='images/github.png', alt="link to Bree's Github")
          p.away github.com/BreeJax
      .lg
        p
          a(href='mailto:breejax.codingstrong@gmail.com?subject=Lets%20Grab%20coffee%20and%20talk%20code!')
            img.logos(src='images/email.png', alt="link to email Bree")
          p.away breejax.codingstrong@gmail.com
      .lg
        p
          a(href='https://www.linkedin.com/in/breejax/', target='_blank')
            img.logos(src='images/linkedin.png', alt="link to Bree's linkedIn")
          p.away linkedin.com/in/breejax/
    h3.help (Psssst. Having trouble viewing my contact info? Click&nbsp; #[a(href='/contactInfo', target='_blank') Here])      
