doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bree's portfolio
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/701-1050.css')
    link(rel='stylesheet', href='/stylesheets/700.css')
    link(rel='shortcut icon', type='image/x-icon', href='/coffee/favicon-16x16.png')


    link(href='https://fonts.googleapis.com/css?family=Signika', rel='stylesheet')
  body
    block content
